@import "../../styleSass/variables.scss";
@import "../../styleSass/mixins.scss";

.balanceincomeexpense {
  background-color: $primaryColor;
  padding: 30px 40px;
  border-radius: 5px;
}

.balanceincomeexpense_top {
  @include flexWithJustify;
  padding-bottom: 20px;
  border-bottom: 1px solid white;

  h1 {
    color: white;
    font-size: 40px;
    letter-spacing: 3px;
  }
}

.balanceincomeexpense_bottom {
  @include flexWithJustify;
  margin-top: 20px;
}

.balance {
  color: $thirdColor;
  font-size: 12px;
}

.amount {
  color: white;
  font-size: 14px;
}
