@import "../../styleSass/variables.scss";
@import "../../styleSass/mixins.scss";

.transactiondetailrow {
  @include flexElement;
  margin-top: 4px;
  color: white;
  gap: 4px;
}

.transactiondetailrow_detail {
  @include flexWithJustify;
  flex: 1;
  cursor: pointer;
  padding: 4px 0;
  border: 1px solid $primaryColor;
  transition: border 0.2s ease-in;
  &:hover {
    border: 1px solid white;
  }
}

.transactiondetailrow_transactiondetail {
  margin-left: 5px;

  strong {
    font-size: 14px;
  }

  p {
    font-size: 12px;
    color: $thirdColor;
  }
}
