@import "../../styleSass/variables.scss";
@import "../../styleSass/mixins.scss";

.sidebar {
  flex: 0.3;
  height: 100vh;
  background-color: $primaryColor;
}

.header {
  @include flexWithCenter;
  padding: 40px 0;
  color: $secondaryColor;

  h1 {
    width: 167px;
    height: 40px;
  }
}

.sidebar_elements {
  width: 40%;
  margin: auto;
}
