@import "../../styleSass/mixins.scss";
@import "../../styleSass/variables.scss";

.iconData {
  @include flexElement;
}

.icon {
  font-size: 24px;
}

.primary {
  color: $thirdColor;
  font-size: 16px;
}

.secondary {
  color: white;
  font-size: 18px;
}
