@mixin flexElement {
  display: flex;
  align-items: center;
}

@mixin flexWithJustify {
  @include flexElement();
  justify-content: space-between;
}

@mixin flexWithCenter {
  @include flexElement();
  justify-content: center;
}

@mixin modalDesign {
  margin: 10px 0;

  label {
    color: $thirdColor;
  }

  input,
  select {
    width: 70%;
    padding: 10px;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    margin: 5px 0;
  }
}
