@import "../../styleSass/variables.scss";

.link {
  text-decoration: none;
  &:active {
    border: none;
  }
}
.element {
  display: flex;
  width: 35%;
  height: 21px;
  gap: 15px;
  align-items: center;
  margin: 4px auto;
  border-radius: 5px;
  padding: 8px 14px;
  color: $secondaryColor;
  cursor: pointer;
  transition: border 0.2s ease-in;
  border: 1px solid $primaryColor;
  &:hover {
    border: 1px solid $secondaryColor;
  }
}

.selected {
  border: 1px solid $secondaryColor;
}
