@import "../../styleSass/mixins.scss";
@import "../../styleSass/variables.scss";

.login_container {
  @include flexWithCenter;
  height: 100vh;
}

.login {
  min-width: 300px;
  height: 280px;
  padding: 30px;
  border-radius: 5px;
  background-color: #645f5f;

  @include modalDesign;

  input {
    width: 93%;
  }
}

.login_icon_container {
  @include flexWithCenter;
  margin-bottom: 10px;
}

.login_icon {
  width: 30%;
}

.login_buttons {
  @include flexWithJustify;
  margin: 10px 0;

  a {
    color: white;
  }
}
